<div *ngIf='crypto' class='text-center'>
	<div class="header">
		<img [src]='crypto.getImage()' width="64" />
		<p class="title text-white">{{ crypto.name }}</p>
		<p class="text-success">{{ crypto.price_usd | currency:'USD':'symbol':'2.2-9' }} {{ crypto.currency.lang | uppercase }}</p>
		<div [class]="crypto.percent_change_24h > 0 ? 'text-success' : 'text-danger'" id="details">
			<i [class]="crypto.percent_change_24h > 0 ? 'mi mi-arrow-drop-up mi-36' : 'mi mi-arrow-drop-down mi-36'"></i>
			<span>{{ crypto.percent_change_24h }} %</span>
		</div>
	</div>
	<div class="body text-white">
		<ul>
			<li>Percent change 1H :
				<span [class]="crypto.percent_change_1h > 0 ? 'text-success' : 'text-danger'">{{ crypto.percent_change_1h }}</span>
			</li>

			<li>Percent change 24H :
				<span [class]="crypto.percent_change_24h > 0 ? 'text-success' : 'text-danger'">{{ crypto.percent_change_24h }}</span>
			</li>

			<li>Percent change 7d :
				<span [class]="crypto.percent_change_7d > 0 ? 'text-success' : 'text-danger'">{{ crypto.percent_change_7d }}</span>
			</li>
		</ul>
		<button class="goto btn btn-primary" (click)="goToCurrency(crypto.website_slug)">More...</button>
	</div>
</div>
