li {
    font-size: .8em;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

ul {
    margin: 0;
    padding: 0;
}

li span {
    font-weight: 500;
}

.header p.title {
    font-weight: bold;
    font-size: 1.2em;
}
#details {
    display: flex;
    align-items: center;
    justify-content: center;
}
.goto {
    margin-top: 8em; 
}