<div id="container">
  <ngx-datatable
  class="material"
  *ngIf="cryptoItem !== null"
  [rows]="cryptoItem"
  [count]="cryptoItem.length"
  [limit]="9"
  [selected]="selected"
  [headerHeight]="50"
  [footerHeight]="50"
  [columnMode]="'force'"
  [selectionType]="'single'"
  [loadingIndicator]="loadingIndicator"
  (select)='onSelect($event)'>
      <ngx-datatable-column prop="name" name="Name" [cellClass]="getCellClass">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <div class="content name">
            <img [src]='"https://files.coinmarketcap.com/static/img/coins/16x16/"+row.id+".png"'/>
            <span>{{value}}</span>
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="price_usd" name="Price" [cellClass]="getCellClass">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <div class="content">
            <span>{{ value | currency: _currencyFormat.toUpperCase(): 'symbol':'4.2-2' }}</span>
          </div>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column prop="percent_change_24h" name="24H" [cellClass]="getCellClass">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <div [class]="value > 0 ? 'text-success' : 'text-danger' + ' content'">
            <i [class]="value > 0 ? 'mi mi-arrow-drop-up' : 'mi mi-arrow-drop-down'"></i>
            <i> {{value}}%</i>
          </div>
        </ng-template>
      </ngx-datatable-column>

  </ngx-datatable>


  <p *ngIf="!cryptoItem" class="text-center">En chargement...</p>
</div>
