
/*
tbody tr {
	cursor: pointer;
	transition: ease-out .2s;
}
tbody tr:hover {
	background-color: #ddddde;
}
table td {
    padding-top: 0.8rem;
    padding-bottom: 0.7rem;
}*/

.table {
	background-color: red !important;
    padding: 0 !important;
    line-height: 30px !important;
}


.is-positive {
	color: green;
}

.is-negative {
	color: red;
}