#container {
  position: relative;
  width: 100%;
  height: 100%;
}
#header {
  width: 380px;
  height: 20%;
  padding: 10px;
  float: right;
  position: relative;
}
#header app-settings {
  position: absolute;
  right: 2%;
  bottom: 33px;
}
h1 {
  font-size: 28px;
  color: white;
}
p {
  color: white;
}

#left-layout {
  width: 200px;
  height: 100%;
  padding: 10px;
  float: right;
  position: absolute;
}
#right-layout {
  width: 380px;
  height: 78%;
  float: right;
  overflow: hidden;


  background-color: #f1f1f166;
}

#cassdedi {
  position: relative;
  top: 450px;
  width: 200px;
}
#left-layout {
  background-color: #313355;
  /*box-shadow: 2px 2px 10px 2px #0000005e;*/
}
/*#header, #left-layout, #right-layout {
	border: 1px solid #cfcfcf;
}*/

#header {
  background: #a7cfdf;
  background: -moz-linear-gradient(left, #a7cfdf 0%, #35bacc 100%);
  background: -webkit-linear-gradient(left, #a7cfdf 0%,#35bacc 100%);
  background: linear-gradient(to right, #313355 0%,#a7cfdf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#35bacc',GradientType=1 );
}
